.Hawaii {
    position: relative;
    
    section {
        background: url('../assets/pictures/hawaii-pexels-troy-squillaci-2521619.jpg');
        background-size: cover;
        height: 80vw;
    }
    
}