.Activity {
    flex: 1;
    background: var(--warm-orange);
    cursor: pointer;
    text-decoration: none;
    color: var(--navigation-blue);

    .image {
    background-size: cover;
    height: 25vw;
    opacity: 0.75;
    }

    &:hover .image{ 
       opacity: 1;
    }

    @media  screen and (max-width: 600px) {
        & {
            margin: 1rem;
        }
        .image {
            height: 50vw;
        }
    }
}