.Footer {

        .footerImage {
            background-image: url('../assets/pictures/waves-andrzej-kryszpiniuk-4wFqHZ1ONnM-unsplash.jpg');
            background-size: cover;
            height: 30vw;
        }
    
}