.KidsLessonBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 2.0vw;
        font-weight: bold;
        text-shadow: 1px 1px 4px white;
        background-size: cover;
        background-color: rgba(var(--warm-orange-rgb), 0.7);

    &:nth-child(2), &:nth-child(3) {
        background-color: rgba(var(--quote-blue-rgb), 0.7);
    }
    position: relative;

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        background: linear-gradient(
            rgba(var(--quote-blue-rgb),0) 50%,
            rgba(var(--quote-blue-rgb),.7)); 
    }

    .texts {
        position: relative;
    }

    &:hover {
        text-shadow: none;
        justify-content: flex-end;
        padding-bottom: 2vw;
        background-image: url('../assets/pictures/0-2-pexels-barbara-ribeiro-3945007.jpg');
   
        color: white;
        text-shadow: 1px 1px 4px var(--navigation-blue);
    }

    &.group1:hover {
        background-image: url('../assets/pictures/0-2-pexels-barbara-ribeiro-3945007.jpg');
    }

    &.group2:hover {
        background-image: url('../assets/pictures/3-5-pexels-porapak-apichodilok-346776.jpg');
    }

    &.group3:hover {
        background-image: url('../assets/pictures/6-10-pexels-alexandr-podvalny-1227571.jpg');
    }

    &.group4:hover {
        background-image: url('../assets/pictures/11-14-pexels-armin-rimoldi-5269900.jpg');
    }

    @media screen and (max-width: 600px) {
        & {
            font-size: 3vw;
        }
        
    }
}