.Travel {
    .destinations {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
        gap: 5%;

        div {
            background-size: cover;
            height: 30vw;
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4vw;
            transition: transform .4s;
            color: white;
            text-shadow: 2px 2px 4px var(--navigation-blue);
        }
    }
    .Hawaii {
        background-image: url("../assets/pictures/surf-jeremy-bishop-_CFv3bntQlQ-unsplash.jpg");
    }

    .Jamaica {
        background-image: url("../assets/pictures/paddle-hugh-whyte-A74OwXiWxTc-unsplash (1).jpg");
    }

    .destinations div:hover {
        cursor: pointer;
        font-size: 5vw;
        transform: rotate(10deg);
        color: rgb(252, 185, 86);
        font-weight: 500;
        text-shadow: 2px 2px 3px var(--navigation-blue);
    }

    @media screen and (max-width: 600px) {
        .destinations {
            flex-direction: column;
            
            div {
                height: 50vw;
                width: 50vw;
                margin: 1rem;
            }
        }
    }
}
